.box{
    width: 20%;
    height: 200px;
    border: 5px solid rgb(226, 24, 24);
    background-color: black;
    margin: 40px;
}
.container{
    background-color: blue;
}
#box2{
    position: relative;
    left: 200px;
}
/* #box3{
    position: fixed;
    right: 100px;
    bottom: 20px;
} */
#box4{
    position: absolute;
    right: 200px;
}